*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card{
    height: 40%;
    width: 40%;
    display: flex;
}

