*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card{
    height: 400px;
    width: 400px;
    display: flex;
    gap: 30px;
    background-color: white;
}

.image-side .product{
    width: 400px;
    object-fit: cover;
    object-position: center;
}
