@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card{
    height: 600px;
    width: 830px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.image-side, .price-side{
    width: 400px;
    height: 600px;
}

.image-side .product{
    width: inherit;
    object-fit: cover;
    object-position: center;
}

.price-side{
    padding: 40px;
}

.price-side .type{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.price-side .title{
    font-family: 'Fraunces', serif;
    width: 250px;
    font-size: 38px;
    margin-bottom: 20px;
}

.price-side .description{
    font-family: 'Montserrat', sans-serif;
    width: 260px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #898b97;
}