@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #f3eae3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card{
    height: 600px;
    width: 800px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.image-side, .price-side{
    width: 400px;
    height: 600px;
}

.image-side .product{
    width: inherit;
    object-fit: cover;
    object-position: center;
}

.price-side{
    padding: 40px;
}

.price-side .type{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

.price-side .title{
    font-family: 'Fraunces', serif;
    width: 250px;
    font-size: 40px;
    margin-bottom: 25px;
    color: #1c232c;
}

.price-side .description{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 290px;
    line-height: 25px;
    margin-bottom: 40px;
    color: #898b97;
}

.price-side .price{
    font-family: 'Fraunces', serif;
    width: 250px;
    font-size: 40px;
    margin-bottom: 40px;
    color: #3c8167;
    display: flex;
    align-items: center;
    gap: 20px;
}

.price-side .price .oldPrice{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: line-through;
    color: #a8a9af;
}

.price-side .cart{
    width: 310px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #3d8168;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}